.icon-nav a:first-child {
  opacity: 0.4;
}

.first-picture a {
  color: black;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.first-picture .first-picture__box {
  display: flex;
  justify-content: space-between;
}
