.first-picture {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  justify-content: flex-start;
}

.first-picture img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  margin-right: 10px;
}

.first-picture h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.first-picture h6 {
  font-size: 15px;
  opacity: 0.5;
  font-weight: 500;
}

.first-picture__text span {
  font-size: 15px;
  background-color: white;
  border: 2px solid orangered;
  color: orangered;
  font-weight: 600;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
}

.first-picture .first-picture__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
}

.first-picture .first-picture__noti {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-picture__noti span:first-child {
  opacity: 0.4;
  font-weight: 500;
}

.first-picture__noti span:last-child {
  background-color: orangered;
  padding: 4px 8px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  margin-top: 6px;
}
