body {
  height: 100vh;
}

.friends-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  opacity: 0.3;
}

.friends-list__friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}

.friends-list__friend div:first-child {
  display: flex;
  align-items: center;
}

.friends-list__friend div:last-child {
  opacity: 0.3;
}

.friends-list__friend img {
  width: 35px;
  height: 35px;
  border-radius: 35%;
  margin-right: 10px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: yellow;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}
