.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}

.index-header h4 {
  font-size: 27px;
  font-weight: 600;
}

.index-header div i {
  margin-right: 20px;
  opacity: 0.5;
  color: black;
}
