@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";

@import "index-header.css";
@import "noti.css";
@import "first-picture.css";
@import "border-bottom.css";
@import "friends.css";
@import "footer.css";
@import "icon-row.css";

@import "chats.css";
@import "search.css";
@import "etc.css";
@import "setting.css";
@import "chat.css";

body {
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
  min-height: 800px;
}
